#delete-modal-preview.modal(style="margin-top: 0px; margin-left: 0px; padding-left: 0px; z-index: 51;")
    .modal__content
      .text-center
        i.far.fa-times-circle
        p Are you sure you want to delete this record?
      .modal__action.text-center
        button.btn--neutral.modal--cancel-button(type="button" data-dismiss="modal") Cancel
        button.btn.btn--danger.modal--confirm-button(type="button", data-href='') Delete

