if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
  div.row.pagination
    .pagination__count
      #row_callback_info.dataTables_info(role="status" aria-live="polite") Showing 1 to 10 of 57 entries
    .pagination__navigation
      .paging_simple_numbers
        ul.pagination__list
          if paginate.hasPreviousPages
            li.pagination__item
              a.pagination__link.previous(href=paginate.href(true) ) Previous
          if pages
            each page in pages
              li(class=`pagination__item${currentPage == page.number ? ' active' : ''}`)
                a.pagination__link(href=page.url)= page.number
          if paginate.hasNextPages(pageCount)
            li.pagination__item
              a.pagination__link.next(href=paginate.href()) Next

