.modal.show {
  transition: visibility 0s linear 0s, opacity 0.2s 0s;
  visibility: visible;
  opacity: 1;
}

.modal {
  margin-top: -10000px;
  margin-left: -10000px;
  background: #00000080;
  transition: visibility 0s linear 0.2s, opacity 0.2s 0s;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.modal.show > .modal__content {
  margin-top: 4rem;
}

.modal__content {
  transition: margin-top 0.2s;
  /* margin-top: -4rem; */
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2.5em 1em;
}

.modal__content i {
  color: #d32929;
  font-size: 3em;
}

.text-center {
  text-align: center;
}

.modal__action {
  margin-top: 2em;
}

@media (min-width: 640px) {
  .modal .modal__content {
    width: 460px;
  }
}
