* {
  box-sizing: border-box;
}

header {
  background-color: white;
  padding: 1em 1em;
  margin-bottom: 0em;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body.main-body {
  background-color: #fbfbfb;
}

.login {
  margin: auto;
  margin-top: 60px;
  width: 25%;
}

.login-header {
  background-color: #0d213a;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.login-header h1 {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
}

.login-header p {
  color: #fff;
  font-size: 13px;
}

.login-form {
  background-color: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 30px 20px;
}

.form-label {
  color: #7379a3;
  display: block;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-input {
  border: 1px solid #ecf2fa;
  border-radius: 5px;
  color: #7379a3;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.form-submit {
  background-color: #1761fd;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

#form-submit {
  margin-left: 30px;
  width: 90%;
}

.select2-container {
  border: 1px solid #ecf2fa;
  border-radius: 5px;
  display: block !important;
  color: #7379a3;
  margin-top: 1em !important;
  width: 100% !important;
}

.select2-container .select2-selection.select2-selection--single {
  height: 39px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container .select2-selection .select2-selection__rendered {
  height: 100%;
  display: flex !important;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 2rem;
}

.select2-container.select2-container--default .select2-results__option {
  padding: 0.75em;
}

.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #1761fd !important;
  color: white;
}

.select2-search--dropdown .select2-search__field {
  padding: 9px !important;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}
/* layout */

.container {
  display: flex;
  margin: auto;
  padding: 2em;
  width: 80%;
}

.side-bar {
  background: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  border-radius: 5px;
  color: #777d74;
  flex-basis: 25%;
  font-size: 16px;
  height: fit-content;
  margin-right: 2em;
  padding: 1em;
}

.nav-item {
  cursor: pointer;
  list-style: none;
  line-height: 1.8;
  margin-bottom: 3px;
  padding: 0.5em 1em;
}

.nav-item.active {
  color: #1e3d73;
  background-color: #e7ecee;
  border-radius: 5px;
}

.nav-item:hover {
  color: #1e3d73;
}

.nav-icon {
  margin-right: 1em;
  width: 1.25em;
}

a {
  color: inherit;
  text-decoration: none;
}

/* main content */

.main-content {
  background: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  border-radius: 5px;
  flex-basis: 75%;
  font-size: 16px;
}

/* general buttons */

.btn {
  font-size: 13px;
  border: none;
  padding: 7px 10px;
}

.btn--new {
  padding: 7px 10px;
  background-color: rgba(23, 97, 253, 0.1);
  color: #1761fd;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn--new:hover {
  background-color: #1761fd;
  color: #fff;
}

.btn--primary {
  color: #fff;
  background-color: #1761fd;
  border-color: #1761fd;
  border: 1px solid transparent;
  border-radius: 0.3em;
  padding: 0.7em 1em;
}

.btn--new--bill {
  float: right;
}

.btn--link-to {
  color: #718096;
  color: rgba(113, 128, 150, 1);
  padding: 0.8em 1em;
  border-radius: 0.375rem;
  font-weight: 500;
  cursor: pointer;
}

.btn--link-to--success {
}

.card__title {
  border-bottom: 1px solid #f1f1f1;
  padding: 1.5em;
}

.card__hint {
  color: hsl(0, 0%, 52%);
  font-size: 11px;
  margin-top: 1em;
  margin-bottom: 0;
}

.card__body {
  padding: 1em;
}

/* table */

.table {
  border: 1px solid #eceeec;
  font-size: 14px;
}

.table__header {
  background-color: #f1f5fa;
  color: #303e67;
  display: flex;
  font-weight: bold;
  padding: 1em;
}

.table__row {
  align-items: center;
  border-top: 1px solid #eaf0f7;
  display: flex;
  padding: 1em;
}

.table .table__header__column,
.table .table__row__column {
  width: 100%;
}

/* error page */

.error-page {
  padding-top: 10em;
  background: #1c3faa;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.error-page button {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* pagination */
.pagination {
  color: #303e67;
  display: flex;
  font-size: 13px;
  flex-wrap: wrap;
  margin-top: 1em;
}

.pagination__count {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  padding-top: 0.5em;
}

.pagination__navigation {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.pagination__list {
  border-radius: 0.25rem;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.pagination__link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #303e67;
  background-color: #fff;
  border: 1px solid #eaf0f9;
}

.pagination__link:focus {
  outline: none;
}

.pagination__item.active .pagination__link {
  z-index: 3;
  color: #fff;
  background-color: #1761fd;
  border-color: #1761fd;
}

.pagination__link.previous {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.pagination__link.next {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* general buttons */

.btn {
  font-size: 13px;
  border: none;
}

.btn--new {
  padding: 7px 10px;
  background-color: rgba(23, 97, 253, 0.1);
  color: #1761fd;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn--new:hover {
  background-color: #1761fd;
  color: #fff;
}

.btn--primary {
  color: #fff;
  background-color: #1761fd;
  border-color: #1761fd;
  border: 1px solid transparent;
  border-radius: 0.3em;
  padding: 0.7em 1em;
}

.btn--new--bill {
  float: right;
}

/* forms */
.form-group {
  margin-top: 1.5em;
}

label {
  color: #7379a3;
  font-size: 13px;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #ecf2fa;
  border-radius: 5px;
  box-sizing: border-box;
  color: #7379a3;
  margin-top: 1em;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.fa-plus {
  margin-right: 3px;
}

/* alerts */

.alert {
  border: 1px solid transparent;
  padding: 1.2em 0;
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.alert-success {
  background-color: #e1faf0;
  border-color: #c6fde7;
  color: #15a569;
}

.alert-danger {
  background-color: #fee6eb;
  border-color: #fcc6d1;
  color: #a21b1b;
}

.mobile-nav {
  display: none;
}

.mobile-nav #open-menu {
  cursor: pointer;
}

#close-menu {
  display: none;
}

/* mobile */
@media only screen and (max-width: 768px) {
  .container {
    padding: 0;
    width: 100%;
  }

  #close-menu {
    display: inline-block;
    margin-left: 1.2em;
    margin-bottom: 1em;
  }

  .side-bar {
    -webkit-box-shadow: 0px 0px 20px 0px rgb(114 117 119 / 0.6);
    box-shadow: 0px 0px 20px 0px rgb(114 117 119 / 0.6);
    display: none;
    width: 85%;
    z-index: 3;
    position: fixed;
    top: 3px;
    left: 3px;
  }

  .card__hint {
    display: none;
  }

  .main-content {
    flex-basis: 100%;
  }

  table {
    width: 63%;
  }

  .login {
    margin: auto;
    margin-top: 0;
    width: 100%;
  }

  .mobile-nav {
    display: block;
    padding-left: 1em;
  }
}
