* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

body.main-body {
  background-color: #fbfbfb;
}

.login {
  margin: auto;
  margin-top: 60px;
  width: 25%;
}

.login-header {
  background-color: #0d213a;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.login-header h1 {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
}

.login-header p {
  color: #fff;
  font-size: 13px;
}

.login-form {
  background-color: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 30px 20px;
}

.form-label {
  color: #7379a3;
  display: block;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-input {
  border: 1px solid #ecf2fa;
  border-radius: 5px;
  color: #7379a3;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.form-submit {
  background-color: #1761fd;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

#form-submit {
  margin-left: 30px;
  width: 90%;
}

/* layout */

.container {
  display: flex;
  margin: auto;
  padding: 2em;
  width: 80%;
}

.side-bar {
  background: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  border-radius: 5px;
  color: #777d74;
  flex-basis: 25%;
  font-size: 16px;
  margin-right: 2em;
  padding: 1em;
}

.nav-item {
  cursor: pointer;
  list-style: none;
  line-height: 1.8;
  margin-bottom: 3px;
  padding: 0.5em 1em;
}

.nav-item.active {
  color: #1e3d73;
  background-color: #e7ecee;
  border-radius: 5px;
}

.nav-item:hover {
  color: #1e3d73;
}

.nav-icon {
  margin-right: 1em;
  width: 1.25em;
}

a {
  color: inherit;
  text-decoration: none;
}

/* main content */

.main-content {
  background: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  border-radius: 5px;
  flex-basis: 75%;
  font-size: 16px;
  padding: 1em;
}

/* generate bill */

.btn-bill {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px 5px;
  width: 40%;
}
