* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.login {
  margin: auto;
  margin-top: 60px;
  width: 30%;
}

.login-header {
  background-color: #0d213a;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.login-header h1 {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
}

.login-header p {
  color: #fff;
  font-size: 13px;
}

.login-form {
  background-color: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 30px 20px;
}

.login-form label {
  color: #7379a3;
  display: block;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"] {
  border: 1px solid #ecf2fa;
  border-radius: 5px;
  color: #7379a3;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.login-form input[type="submit"] {
  background-color: #1761fd;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
