extends ../layout

block content
  div.card__title
    span Edit Apartment
    p.card__hint=`${apartment.address()}`
  form.new-bill(action=`/apartments/${apartment.id}?_method=put`, method="post")
    div.card__body
      div.form-group
        label(for='name') Occupant Name
        input#form-name(type='text' name='name' value=`${apartment.name || ""}` placeholder='Occupant name')
      div.form-group
        input.btn--primary.btn--save(type='submit' value='Update')
